ul{
    list-style-type: none;
    display: inline-block; 
}

li{
    float: left;
    margin: 5px;
}

#header{
    width: 300px;
    height: 50px;
    background-color: lightpink;
    outline-style: double;
}

.content-title{
    display: inline-block;
}

#title1{
    width: 800px;
    height: 350px;
    margin-top: 5px;
    background-color:oldlace;
}
#title2{
    width: 250px;
    height: 250px;
    background-color:oldlace;
    margin-top: 5px;
    margin-left: 10px;
    vertical-align: top
    
    
}

.footer{
    width: 300px;
    height: 220px;
    background-color:gainsboro;
    margin-right: 5px;
}

.border-footer{
    margin-top: 10px;
    background-color: beige;
}

h1{
    width: 500px;
    display: inline-block;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: x-large;
    color: black;
}

#date{
    border-left-style: solid;height:50px;width:3px;color: grey;
    width: 200px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 80px;
    padding-top: 20px;
    font-family: sans-serif;


}

p{
   width: 200px;
   display: inline-block;
}


